@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins-Regular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  position: relative;
}

ul {
  margin: 0;
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  color: #111;
  text-decoration: none;
}

.btnblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  padding: 2rem 3rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  background: #111;
  color: #fff;
  border: 0.2rem solid #111;
  margin-right: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  text-decoration: underline;
}

.btn--outline {
  background: #fff;
  color: #111;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.navbar {
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  background: transparent;
  z-index: 100;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__logo {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__link i {
  font-size: 3rem;
  color: #fff;
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-transform: uppercase;
  padding: 10rem 0;
}

.header::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  background: #111;
  z-index: 9;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
}

.header__subtitle {
  font-size: 4.2rem;
}

.header__title {
  font-size: 9.8rem;
  line-height: 10rem;
  margin-bottom: 5rem;
}

.header__menu {
  position: absolute;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__menu li {
  padding: 0.7rem;
  border-radius: 50%;
  border: 0.2rem solid #111;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu li:last-child {
  margin-bottom: 0;
}

.header__menu li.active {
  background: #111;
}

.header__menu li:hover {
  background: #111;
}

.header__box {
  width: 40rem;
  padding: 1rem 2rem;
  position: relative;
  margin-bottom: 8rem;
}

.header__box::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  bottom: 0;
  left: 0;
  border: 0.3rem solid #111;
  z-index: 199;
}

.header__box::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 30%;
  bottom: -18%;
  right: 30%;
  z-index: 199;
  background: url("../img/dots.png");
}

.header__img {
  width: 100%;
  position: relative;
  z-index: 200;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__navigation .btn {
  padding: 0.5rem 4rem;
  font-size: 1.4rem;
}

.header__navigation .btn:hover {
  background: #111;
  color: #fff;
  text-decoration: none;
}

.social {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  z-index: 100;
  font-size: 3rem;
}

.social__item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social__item:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

@media (max-width: 991px) {
  .header::before {
    width: 30%;
  }
  .header__subtitle {
    font-size: 3rem;
  }
  .header__title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .header__box {
    width: 30rem;
  }
  .header__box::after {
    display: none;
  }
  .header .btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .header::before {
    width: 30%;
  }
  .header__subtitle {
    font-size: 2rem;
  }
  .header__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .header__box {
    width: 25rem;
    margin-bottom: 1rem;
  }
  .header .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .header__navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .navbar {
    display: none;
  }
  .header {
    padding: 5rem 0 !important;
    text-align: center;
  }
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header::before {
    display: none;
  }
  .header__subtitle {
    font-size: 3rem;
  }
  .header__title {
    font-size: 5rem;
    line-height: 5rem;
  }
  .header__box {
    margin-top: 5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .header__box::before {
    display: none;
  }
  .header .btnblock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .header__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
  .header__navigation .btn {
    padding: 0.5rem 2rem;
  }
  .social {
    position: static;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 3rem;
  }
  .social li {
    margin-left: 2rem;
  }
  .social li:first-child {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */